// Temas

$primary: #FF3600;
$secondary: #3F3F46;
$info: #1D4ED8;
$success: #16A34A;
$light: #FFFFFF;
$dark: #18181B;

// Bordes

$card-border-color: #DEE2E6;
$alert-border-radius: 0;

// Tipografía

$body-color: #3F3F46;
$font-family-sans-serif: 'Inter', sans-serif;
$text-muted: #71717A;
$h5-font-size: 1rem * 1.125;

// Modal

$modal-backdrop-opacity: .7;

// Offcanvas

$offcanvas-horizontal-width: 600px;

// Carousel

$carousel-indicator-width:           10px;
$carousel-indicator-height:          10px;