// Temas

$primary: #FF3600;
$secondary: #f4f4f5;
$light: #FFFFFF;
$dark: #18181b;

// Tipografía

$body-color: #3f3f46;
$font-family-sans-serif: 'Inter', sans-serif;
$text-muted: #71717a;

// Modal

//$modal-backdrop-opacity: .9;

// Offcanvas

$offcanvas-horizontal-width: 600px;