.bg-home{
	background-image: url(../img/bg-home.jpg);
	background-position: center center; 
	background-size: cover;
}

.bg-home-grad{

	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
}

.bg-grad{
	background-image: linear-gradient(to left, #1D4ED8, #FF3600);
}

.fw-black{
	font-weight: 900;
}