// Temas

$primary: #FF3600;
$secondary: #3F3F46;
$light: #FFFFFF;
$dark: #18181B;

// Tipografía

$body-color: #3F3F46;
$font-family-sans-serif: 'Inter', sans-serif;
$text-muted: #71717A;

// Modal

//$modal-backdrop-opacity: .9;

// Offcanvas

$offcanvas-horizontal-width: 600px;