// FONDOS

.bg-home{
	background-image: url(../img/bg-home.jpg);
	background-position: 60% center; 
	background-size: cover;

	@include media-breakpoint-up(lg) {
		background-position: center center; 
	}

}

.bg-section{
	background-color: #F4F4F5;
}

.bg-footer-secondary{
	background-color: #27272A;
}

.bg-grad-black{
	background-image: linear-gradient(to bottom, rgba(24,24,27,0), rgba(24,24,27,1));
}

.bg-grad-orange-blue{
	background-image: linear-gradient(to left, #1D4ED8, #FF3600);
}

.bg-opacity{
	background-color: #18181B;
	opacity: 0.4;
	height: 100%;
	width: 100%;
}

.bg-empresa{
	background-image: url(../img/bg-home.jpg);
	background-position: center center; 
	background-size: cover;
	height: 240px;
	margin-top: 60px;

	@include media-breakpoint-up(lg) {
		height: 400px; 
	}
}

.bg-trabajos{
	background-image: url(../img/bg-trabajos.jpg);
	background-position: center center; 
	background-size: cover;
	height: 240px;
	margin-top: 60px;

	@include media-breakpoint-up(lg){
		background-position: center center; 
		height: 400px; 
	}
}

.bg-garantia{
	background-image: url(../img/bg-garantia.jpg);
	background-position: center center; 
	background-size: cover;
	height: 240px;
	margin-top: 60px;

	@include media-breakpoint-up(lg){
		background-position: center 40%; 
		height: 400px; 
	}
}

.bg-contacto{
	background-image: url(../img/bg-contacto.jpg);
	background-position: center center; 
	background-size: cover;
	height: 240px;
	margin-top: 60px;

	@include media-breakpoint-up(lg){
		background-position: center 40%; 
		height: 400px; 
	}
}

.bg-servicios{
	background-image: url(../img/bg-servicios.jpg);
	background-position: center center; 
	background-size: cover;
	height: 240px;
	margin-top: 60px;

	@include media-breakpoint-up(lg){
		background-position: center 40%; 
		height: 400px; 
	}
}

.bg-redeca{
	background-image: url(../img/bg-redeca.jpg);
	background-position: center center; 
	background-size: cover;
	height: 240px;
	margin-top: 60px;

	@include media-breakpoint-up(lg){
		background-position: center 15%;
		height: 400px; 
	}
}

.bg-ofylo{
	background-image: url(../img/bg-ofylo.jpg);
	background-position: center center; 
	background-size: cover;
	height: 240px;
	margin-top: 60px;

	@include media-breakpoint-up(lg){
		background-position: center 60%;
		height: 400px; 
	}
}

.bg-facha{
	background-image: url(../img/bg-facha.jpg);
	background-position: center center; 
	background-size: cover;
	height: 240px;
	margin-top: 60px;

	@include media-breakpoint-up(lg){
		background-position: center 50%;
		height: 400px; 
	}
}

.bg-elec{
	background-image: url(../img/bg-elec.jpg);
	background-position: center center; 
	background-size: cover;
	height: 240px;
	margin-top: 60px;

	@include media-breakpoint-up(lg){
		background-position: center 30%;
		height: 400px; 
	}
}

.bg-pintu{
	background-image: url(../img/bg-pintura.jpg);
	background-position: center center; 
	background-size: cover;
	height: 240px;
	margin-top: 60px;

	@include media-breakpoint-up(lg){
		background-position: center 40%;
		height: 400px; 
	}
}

.bg-pladur{
	background-image: url(../img/bg-pladur.jpg);
	background-position: center center; 
	background-size: cover;
	height: 240px;
	margin-top: 60px;

	@include media-breakpoint-up(lg){
		background-position: center 50%;
		height: 400px; 
	}
}

.bg-acero{
	background-image: url(../img/bg-acero.jpg);
	background-position: center center; 
	background-size: cover;
	height: 240px;
	margin-top: 60px;

	@include media-breakpoint-up(lg){
		background-position: center 50%;
		height: 400px; 
	}
}

.bg-certi{
	background-image: url(../img/bg-certi.jpg);
	background-position: center center; 
	background-size: cover;
	height: 240px;
	margin-top: 60px;

	@include media-breakpoint-up(lg){
		background-position: center 40%;
		height: 400px; 
	}
}

.bg-obra{
	background-image: url(../img/bg-obra.jpg);
	background-position: center center; 
	background-size: cover;
	height: 240px;
	margin-top: 60px;

	@include media-breakpoint-up(lg){
		background-position: center 30%;
		height: 400px; 
	}
}

.bg-madera{
	background-image: url(../img/bg-madera.jpg);
	background-position: center center; 
	background-size: cover;
	height: 240px;
	margin-top: 60px;

	@include media-breakpoint-up(lg){
		background-position: center 30%;
		height: 400px; 
	}
}



// TIPOGRAFÍA

.fw-black{
	font-weight: 900;
}




